
.generate-margins(9);

.generate-margins(@n, @i: 1) when (@i <= @n) {
    .mt-@{i} {
        margin-top: @i * @base; 
    }

    .mb-@{i} {
        margin-bottom: @i * @base;
    }

    .mr-@{i} {
        margin-right: @i * @base; 
    }

    .ml-@{i} {
        margin-left: @i * @base; 
    }

    .generate-margins(@n, @i + 1);
}
