.public-utility-payments-modal {
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    min-width: 0;
    width: 100%;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    min-width: 0;
    width: 100%
    }

    &-title {
        display: flex;
        &-actions {
            flex-flow: row nowrap;
            flex-shrink: 0;
            font-size: @base*3 !important;
            text-align: center;

            .rate-input {
                font-size: @base*3 !important;
                height: @base*5 !important;
                width: 35%;
                display: inline-block !important;
            }
        }
    }

    &__resources {
        display: flex;
        flex-flow: row wrap;
    }

    &__resource {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 0 8px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        & > *:nth-child(n) {
            margin-bottom: 8px;
        }
    }

    &__form-group-label {
        padding-right: @base;
        padding: 0;
        margin: 0;
    }

    &__row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.fields-block {
    color: black;
    &__field-icon {
        flex: 1 3;
    }

    &__inputs-container {
        flex: 8 4;
    }
}
